<div class="product">
  <div class="img-container">
    <img class="img"src={{manufacturer}} alt="product image" />
  </div>
  <div>
    <a href={{description}} target="_blank"><h5>{{name}}</h5></a>
      <div>${{price}}</i></div>
  <form action="/favorites" method="post" type='submit'name='addFav' value="{}">
    <i class="fa-regular fa-heart" id="addFav">Add to Favorite</i>
  </form>
  <div>{{scent.name}}</div>
  </div>
</div>

<script src="/public/js/favorite.js"></script>
