<div class="product">
  <div class="img-container">
    <img class="img"src={{manufacturer}} alt="product image" />
  </div>
  <div>
    <a href={{description}} target="_blank"><h5>{{name}}</h5></a>
      <div class="price">${{price}}</i></div>
      {{#if logged_in}}
      <form action="/favorites" method="post" type='submit'name='addFav'>
        <i class="fa-regular fa-heart addFav" value="{{id}}">Add to Favorite</i>
      </form>
      {{/if}}
  <div class="scent">Scent: </div>
  <a href="/scent={{scent.name}}/page=1" class="scent">{{scent.name}}</a>
  </div>
</div>


